body{
    background-color: grey;
}
#content{
    margin:auto;
    width: 960px;
    background-color: white;
}
#header{
    font-size: 50 px;
    color: white;
    text-align: left;
    padding: 20px;
    padding-bottom: 10px;
    background: black;
}
#header ul li{
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
}
#header a{
    text-decoration: none;
    color: turquoise;
}
#main_content{
    border-bottom: 5px solid red;
    border-top: 5px solid red;
}
#main_content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-left: 3px solid turquoise;
    border-right: 3px solid turquoise;
}
#main_content p{
    text-align: center;
    font-size: 35px;
}
#main_content p{
    font-size: 25px;
}
#footer{
    text-align: center;
    color: turquoise;
    background-color:black ;
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}